body {
    margin-top: 50px;   
    background-color: RGB(23 13 0);
}

.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: RGB(30 79 0);
    font-family: 'Merienda', cursive
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav a {
    text-decoration: none;
    color: RGB(239 230 211);
}

.nav a:hover {
    color: RGB(168 50 15);
}

.parent {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.left {
    flex: 1;
    border: 1px solid RGB(30 79 0);
    padding: 2%;
    padding-bottom: 50px;
    background-color: RGB(89 7 7);
    color: RGB(2239 230 211);
    font-family: 'Merienda', cursive
}

.left h2 {
    text-align: center
}
.left h4 {
    font-family: 'Slabo 27px', serif;
}

.left img {
    width: 100%;
    border: 1px solid RGB(168 50 15);
}

.main {
    flex: 4;
    font-family: 'Lora', serif;
    background-image: url(images/spell.jpg);
    background-size: cover;
}

.main h1 {
    text-align: center;
    color: RGB(30 79 0);
    font-family: 'Creepster', cursive;
    font-size: 800%;
    text-shadow: 2px 2px #ff0000;
}

.right {
    flex: 1;
    border: 1px solid RGB(30 79 0);
    padding: 2%;
    padding-bottom: 50px;
    background-color: RGB(89 7 7);
    color: RGB(239 230 211);
    font-family: 'Merienda', cursive
}

.right h2 {
    text-align: center
}

.right ul {
    list-style-type: none;
    padding: 0px;
}

.right li {
    margin-bottom: 8px;
}

.right img {
    width: 100%;
    border: 1px solid RGB(168 50 15);
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

label {
    color: RGB(239 230 211);
}

input {
    width: 100%;
    height: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

.tip {
    border: 2px solid RGB(168 50 15);
    padding: 2%;
    width: 100%;
    background-color: RGB(23 13 0);
    color: RGB(255 255 255);
    margin-bottom: 50px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.tip h2 {
    margin: 6px 0px
}

.tip img {
    width: 100%
}

.food {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 50px;
}

.title {
    flex: 1;
    border: 1px solid RGB(30 79 0);
    padding: 2%;
    background-color: RGB(89 7 7);
    color: RGB(239 230 211);
    font-family: 'Creepster', cursive;
    text-shadow: 2px 2px #ff0000;
    font-size: 300%;
}

.menu {
    flex: 4;
    background-image: url(images/hauntedhouse.jpg);
    background-size: cover;
}

.address {
    flex: 1;
    border: 1px solid RGB(30 79 0);
    padding: 2%;
    background-color: RGB(89 7 7);
    color: RGB(239 230 211);
    font-family: 'Slabo 27px', serif;
}

.numbers {
    display: flex;
    flex: wrap;
    justify-content: center;
    flex-direction: row;
}

.one {
   flex: 1;
    text-align: center;
}

.one img {
    width: 100%;
    border: 1px solid RGB(168 50 15);
}

.two {
    flex: 4;
    text-align: center; 
}

.pages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px
    
}

.items {
    border: 2px solid RGB(168 50 15);
    padding: 2%;
    width: 100%;
    background-color: RGB(23 13 0);
    color: RGB(255 255 255);
    margin-bottom: 50px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}


